#############################################
# 在這裡列出你 n8n runners 所需的 Python 套件
#############################################
# 例如：
# numpy 
#
# 若要指定版本，可以使用以下格式：
# package_name==version_number
# 例如：
# pandas==1.3.5
#
# 其他的 requirements.txt 功能也適用於此處
#############################################
